$backgroundColor: #efefef;
$radius: 40%;

form {
  display: inline-block;
  background: #373B44;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  margin: auto;
  width: auto;
  padding: 30px 50px;
  border-radius: 20px;

  button {
    background-color: #fff;
    margin-left: 10px;
    border: none;
    // width: 50px;
    width: auto;
    border-radius: 10px;
    font-weight: 700;
    &:hover, &.active {
      transform: scale(1.1);
      transition: all 0.2s ease-in-out;
    }
  }
  
  label {
    display: flex;
    font-weight: 700;
    margin: 1rem 0;
    color: white;

    span {
      margin-right: 10px;
    }
    input {
      // background-color: blue;
      width: 400px;
    }
    
    &.methods {
      span {
        cursor: pointer;
        color: black;
        margin-right: 1rem;
        font-weight: 700;
        padding: .25rem .5rem;
        // background: #ccc;
        background-color: #fff;
        border-radius: 10px;
        margin: 10px;
        
        &:hover, &.active {
          transform: scale(1.1);
          background: #fff;
        }
      }
    }
  }
}
