$backgroundColor: #f5f5f5;

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: $backgroundColor;
  // border: 6px solid black;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .home-span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 90%;
    height: 20px;
    background: linear-gradient(90deg, rgba(20,38,21,1) 0%, rgba(34,64,33,1) 0%, rgba(185,191,164,0.6867121848739496) 93%);

    border-radius: 20px;
    // background-color: #373B44;
    color: white;
    margin: 0px auto;
    margin: 30px;
    padding: 10px;
    // width: 50%;
    // border-radius: 10px;
  }

  .url{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0px auto;

    h4 {
      padding: 20px;
    }
  }

  #root {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    // border: 5px solid red;
  }

  footer {
    color: #fff;
    font-size: 1.3rem;
    font-weight: 700;
    // background: darken($backgroundColor, 50);
    background: #373B44;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    border-top: 1px solid #eee;
    padding: 1em 3em;
    margin: 0;
  }

  header {
    // background: darken($backgroundColor, 75);
    background: #373B44;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    border-bottom: 1px solid #eee;
    color: #eee;
    padding: 0;
    margin: 0;
    text-align: center;
  }
}